:root{
    --primiary--color:green;
}
body{
  font-family:  'Gill Sans MT', 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 20px;
}
h1{
    color:green;
}
p{
    text-align: center;
    font-size: 17px;
}
.btn{
    padding:5px 7px;
    background-color: var(--primiary--color);
    color: #fff;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    }
    .currency{
      padding: 40px 0px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .currency select{
        padding: 10px 20px 10px 10px;
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        font-size: 16px;
        border: 1px solid #dedede;

        background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%207%207'%20width='7'%20height='22'%20fill='currentColor'%3E%3Cpath%20d='M0%200h7L3.5%207z'/%3E%3C/svg%3E");

        background-position: right 10px top 50%,0,0;
        background-size: 12px auto 100%;
        background-repeat: no-repeat;

        border-radius: 5px;
        cursor: pointer;
    }
    .currency input{
        border: 0;
        background: transparent;
       text-align: right;
       font-size: 30px;
    }
    .swap-rate-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .rate{
        color: var(--primiary--color);
        font-size: 14px;
        padding: 0px 10px;
        right: 36%;
        position: absolute;
        font-size: 20px;
        top: 75%;
    }
   
    select:focus , input:focus , button:focus{
        outline: 0;
    }
    @media (max-width:600px) {
        .currency input{
            width: 200px;
        }
    }